@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    background: #e2e4e3;
    margin: 10px 10px;
}

#header{
    padding: 50px 50px;
    background-color: #b50000;
    margin-bottom: 10px;
}

#header-logo{
    width: 1%;
}

#header-container{
    width: 100%;
}

#header-date, #header-login, #header-news-bar{
    min-height: 25%;
    text-align: right;

    font-family: 'Nanum Gothic', sans-serif;
    color: aliceblue;
}

#header-search-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#header-search-buttons input[type=text]{
    width: 50%;
    max-height: 100%;
    border: 2px solid black;
    padding: 10px;
}

#header-search-buttons button{
    display: inline-block;
    padding: 0;
}

#header-login a{
    color: aliceblue;
    text-decoration: none;
}

#header-date, #header-login{
    font-size: 25px;
}

#header-news-bar{
    font-size: 35px;
}

#main-container{
    display: flex;
    justify-content: space-between;
}

#left-section, #right-section{
    border: 2px solid black;
    max-width: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.rightcal{
    border: 1px solid #777;
}