#header img{
    background: #b50000;
}

#header-date, #header-login, #header-news-bar{
    color: white;
}

input[type=text], input[type=password]{
    border: 3px solid yellow;
}

#header-search-buttons button, #middle-section button{
    border: 3px solid yellow;
}

#left-section, #right-section, #middle-section, #header{
    border: 3px solid yellow;
    background: black;
    color: white;
}

#left-section a, #right-section a, #middle-section a{
    color: cyan;
}

.right-calendar{
    border: 3px solid yellow;
}